<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{ page.title }} - Luciano German Panaro's blog</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <link rel="alternate" type="application/rss+xml" title="Luciano German Panaro's blog feed" href="/feeds.html" />
  <link rel="stylesheet" type="text/css" href="/css/reset-min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
  <link href="/js/prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/js/prettify/prettify.js"></script>
  {% include analytics.html %}
</head>
<body class="" onload="prettyPrint()">
  <div id="header">
    <div class="onecol">
      <h1><a href="/">Luciano German Panaro</a></h1>
      <p>
        A 24 year-old web enthusiast that
        <a href="https://github.com/lucianopanaro">codes</a>,
        <a href="http://www.linkedin.com/pub/luciano-panaro/4/a03/229">works</a>,
        and
        <a href="http://twitter.com/lucianopanaro">blabbers</a>.
        News feed addict?
        <a href="/feed">Subscribe</a> to the atom feed.
      </p>
    </div>
  </div>

  <div id="content">
    <div class="onecol">
      {{ content }}
    </div>
  </div>

  <div id="footer">
    <div class="onecol">
      <div class="content" id="footer_archives">
          <h2>Archives</h2>
          {{ site | archive_list }}
      </div>
      <div class="content" id="footer_tags">
        <h2>Tags</h2>
        {{ site | tag_cloud }}
        <div class="clearboth"></div>
      </div>
      <div class="clearboth"></div>
      <div id="footer_copy">
        <p>Copyright &copy; 2007-2011 Luciano Germ&aacute;n Panaro.</p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      var disqus_shortname = 'lucianopanaro';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
  </script>
</body>
</html>
